# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ydwccpwlmstpofmlxnhx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlkd2NjcHdsbXN0cG9mbWx4bmh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNzI5OTksImV4cCI6MjA5MTg0ODk5OX0.Rx9fj9ecbrwM_YiiC2k1pz7AWXcE-TvxWUS5ue3DnD8


# Backend API URL
NEXT_PUBLIC_BACKEND_URL=https://finsangadmin-production.up.railway.app/api
